@inject DAL.Interfaces.IGenericRepository<DAL.DAO.Article> _ArticleRespository
@using Microsoft.AspNetCore.Components.Authorization;
@attribute [Authorize]

@page "/article"
<h3>Article</h3>
<div class="row">
    <div class="col-12 text-aling-right">
        <a href="articleNew">Nuevo</a>
    </div>
</div>
@if (Data.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Departamento</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (DAL.DAO.Article item in Data)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Department.Name</td>
                    <td> <a href="/articleNew/@item.Id">Editar</a> </td>
                    @* <td><a href="/eliminar/@item.Id">Eliminar</a></td> *@
                </tr>
            }

        </tbody>
    </table>
}
@code {
    private IEnumerable<DAL.DAO.Article> Data = Array.Empty<DAL.DAO.Article>();


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Data = await _ArticleRespository.GetAll();
    }

}
